/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */
img {
  width: 100%;
  height: 100%;
}

/* .wrapper {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 1200px;
  height: 1000px;
  border: 1px solid black;
  border-radius: 20px;
}

.arrow-left,
.arrow-right {
  width: 120px;
  background-color: rgba(5, 5, 5, 0.2);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right {
  right: 420px;
  bottom: 0;
  height: 1000px;

  border-radius: 0 20px 20px 0;
}

.arrow-left {
  left: 420px;
  bottom: 0;
  height: 1000px;

  border-radius: 20px 0 0 20px;
}

div > i {
  font-size: 80px;
} */

/* STRUCTURE */
.wrapper {
  height: 100vh;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-carosello {
  width: 80%;
  height: 60%;
  position: relative;

  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 7px 1px #333;
}

.container-immagini {
  height: 100%;
}

.container-immagini > .immagine {
  width: 100%;
  height: 100%;

  display: none;
  position: relative;
}

.container-immagini > .immagine-attiva {
  display: block;
}

.container-immagini > .immagine > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.container-immagini > .immagine > .presentazione {
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 0;
  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.controlli {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.controlli.freccia-sx {
  left: 0;
}

.controlli.freccia-dx {
  right: 0;
}

#container-miniature .immagine-attiva {
  scale: 1.5;
}

.container-miniature {
  display: flex;
  width: 35%;
  gap: 4rem;
  margin-top: 3rem;
}

.miniatura {
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 7px 1px #333;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.miniatura > img {
  width: 100%;
  height: 100%;
}
